<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="one" value="1"/>
    <add key="two" value="10"/>
    <add key="three" value="50"/>
    <add key="four" value="200"/>
    <add key="again" value="20"/>
    <add key="StarNum" value="6"/>
    <add key="AllPer" value="750"/>
    <add key="Mp3" value="houzhaoyuan.mp3"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
